 .h1 {
	font-family: Arial;
	}
   
 #main{
	width:600px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	font-family: Arial;
	color: #626262;
	
  }
  
.header_pictures{
	width: 550px;
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
  }
 
 .header_image{
	margin-left:2px;
	margin-right:2px;
  }
